@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /*  thsi will Prevent image stretching GLOBAL fix , everytime i am afraid of this haha  */
  img {
    object-fit: cover;
  }

  nav a {
    text-decoration: none !important;
  }

  nav a:hover {
    text-decoration: none !important;
  }
}
